<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/profile-bg.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!-- div class="app-icon"></div -->
                <img style="margin-top: -100px;" src="img/logo.png">
                <!-- h3>E encontre em sua comunidade</h3 -->
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>

    </ion-content>
</ion-view>
