<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
            <div class="hero slide-up" style="background-image: url('img/material-graphite.jpg');">
                <div class="content">
                    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                    <h3><a class="light">Daenerys Targaryen</a></h3>
                    <h4>dragon_mommy</h4>
                </div>
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.activity">
                    Histórico 
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.login">
                    Logar
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    Principal 
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    Serviços 
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.gallery">
                    Locais 
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
