<ion-view view-title="Principal">
    <ion-content ng-class="{expanded:isExpanded}" >
            <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
                <div class="content">
                    <img style="margin-top: -100px;" src="img/logo.png">
                    <h4>Ocupação Cultural Ermelino</h4>
                </div>
            </div>
        <div>
            <div class="list half">
                <div ui-sref="app.gallery" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <img class="full-image" src="img/icons/local.png">
                    </div>
                </div>
            </div>
            <div class="list half">
                <div ui-sref="app.gallery" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <img class="full-image" src="img/icons/services.png">
                    </div>
                </div>
            </div>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/01.png"></ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/02.png"</ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/03.png"</ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/04.png"</ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/05.png"</ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/06.png"</ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/07.png"</ion-col>
                <ion-col width-22><img ui-sref="app.gallery" style="width: 85px;" src="img/icons/local/08.png"</ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-view>
